/* 화살표 버튼 */

/* 더보기 버튼 */
.moreBox {
  text-align: center;
}

.moreBtn {
  font-size: 14px;
  color: #555;
  background: none;
  border: none;
  border-bottom: 1px solid #555;
  padding-bottom: 2px;
}