.mainVisual {
  position: relative;
  width: 100%;
  height: 42rem;
  color: #fff;
  overflow: hidden;

  img {
    object-fit: cover;
  }
}

.visualSlide {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.sliderTrack {
  display: flex;
  width: 100%;
  height: 100%;
}

.slideItem {
  position: relative;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}

.textBox {
  position: absolute;
  top: 30%;
  left: 100px;
  max-width: 600px;
}

.subTitle {
  font-size: 14px;
  color: #8a6bff;
  margin-bottom: 12px;
  font-weight: 600;
}

.title {
  font-size: 36px;
  line-height: 1.4;
  margin-bottom: 16px;
}

.title strong {
  font-weight: 700;
}

.desc {
  font-size: 16px;
  line-height: 1.6;
  color: #ddd;
}

.paging {
  position: absolute;
  bottom: 40px;
  left: 100px;
  font-size: 16px;
  color: #fff;
}

.pagingButton {
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  aspect-ratio: 1/1;
  border-radius: 62.5rem;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
}

.paging button:hover {
  opacity: 0.7;
}

.paging .current {
  font-weight: 600;
}
