.recommend {
  max-width: 1240px;
  margin: 80px auto;
  padding: 0 20px;
}

/* 헤더 (제목 + 탭) */
.head {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 40px;
}

.titles {
  display: flex;
  flex-direction: column;
}

.subTitle {
  font-size: 16px;
  color: #5a23ff;
  font-weight: 600;
}

.title {
  font-size: 40px;
  font-weight: 700;
  color: #000;
  line-height: 1.3;
}

/* 탭 메뉴 */
.tabMenu {
  display: flex;
  gap: 40px;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 6px;
}

.tabMenu li button {
  background: none;
  border: none;
  font-size: 16px;
  color: #666;
  cursor: pointer;
  padding-bottom: 8px;
  transition: all 0.2s;
  position: relative;
}

.tabMenu li button:hover {
  color: #000;
}

.tabMenu li button.active {
  color: #000;
  font-weight: 600;
}

.tabMenu li button.active::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #000;
}

/* 카드 리스트 */
.cardList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

/* 카드 */
.card {
    width: 340px;
    background: #fff;
    border: 1px solid #eaeaea;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s;
}

/* 이미지 영역 */
.imgBox {
  background: #f3f3f3;
  height: 240px;
  position: relative;
}

.dday {
  position: absolute;
  top: 12px;
  left: 12px;
  background: #000;
  opacity: 0.4;
  color: #fff;
  font-size: 12px;
  padding: 2px 6px 2px 6px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -4%;
}

.bookmarkBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 42px;
  height: 42px;
  border-radius: 4px;
  background: #000;
  opacity: 0.4;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* 카드 내용 */
.cardBody {
  padding: 18px;
}

.category {
  display: inline-block;
  font-size: 12px;
  background: #ededff;
  color: #5a23ff;
  padding: 2px 6px;
  border-radius: 4px;
  margin-bottom: 8px;
}

.cardTitle {
  font-size: 20px;
  font-weight: 700;
  color: #111;
  line-height: 1.4;
  margin-bottom: 10px;
}

.infoRow {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  color: #555;
  margin-bottom: 4px;
}

.icon {
  font-size: 14px;
  color: #777;
}

.priceRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.price {
  font-size: 16px;
  font-weight: 700;
  color: #000;
}

.detailBtn {
  background: #000;
  color: #fff;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 13px;
  transition: background 0.2s;
}

/* 더보기 */
.moreBox {
  text-align: center;
}

.moreBtn {
  font-size: 14px;
  color: #555;
  background: none;
  border: none;
  border-bottom: 1px solid #555;
  cursor: pointer;
  padding-bottom: 2px;
}