/* 공통 CSS */
.recommend {
  width: 1440px;
  margin: 80px auto;
  padding: 0 20px;
}

/* 헤더 (제목 + 탭) */
.sectionHead {
  width: 1240px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 40px;
  margin-bottom: 20px;
}

/* 관심행사 sectionHead */
.titles {
  display: flex;
  flex-direction: column;
}

.subTitle {
  font-size: 18px;
  color: #5a23ff;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -4%;
}

.title {
  font-size: 42px;
  font-weight: 500;
  color: #000;
  line-height: 130%;
  font-style: medium;
}

.titleSpan {
  font-weight: 700;
  font-style: bold;
}

/* 관심 + 신청마감 sectionHead */
.subEng {
  color: #e6e6e6;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -4%;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.interestTitle {
  font-size: 42px;
  font-weight: 700;
  color: #fff;
  line-height: 130%;
  letter-spacing: -4%;
}

.interestSpan {
  font-weight: 500;
}

/* 탭 메뉴 */
.tabWrap {
  width: 460px;
  border-bottom: 1px solid #d8d8d8;
}

.tabMenu {
  display: flex;
  gap: 10px;
  position: relative;
}

.tabMenu input[type="radio"] {
  display: none;
}

.tabMenu label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46px;
  padding: 12px 0;
  min-width: 92px;
  color: #474747;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  border-bottom: 3px solid transparent;
  transition: all 0.25s ease;
}

.tabMenu label:hover {
  color: #000;
}

.tabMenu input[type="radio"]:checked + label {
  color: #000;
  font-weight: 600;
  border-bottom: 3px solid #000;
}


/* 카드 공통 CSS */
.cardList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}