.recommend {
    max-width: 1200px;
    margin: 80px auto;
    padding: 0 20px;
}

.head {
    width: 1240px;
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 30px;
}

/* 제목 부 */
.titles {
    display: flex;
    flex-direction: column;
}

.subTitle {
    font-size: 18px;
    color: #5a23ff;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -4%;
}

.title {
    font-size: 42px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: -4%;
    color: #000;
}

/* 탭 메뉴 */
.tabMenu {
    display: flex;
    gap: 40px;
    border-bottom: 1px solid #d8d8d8;
}

.tabMenu li {
    gap: 10px;
}

.tabMenu li button {
    background: none;
    border: none;
    font-size: 16px;
    color: #474747;
    cursor: pointer;
    padding-bottom: 5px;
}

.tabMenu li button:hover {
    color: #000;
}

.tabMenu .active {
    border-bottom: 3px solid #000;
    color: #000;
}

/* 카드 리스트 */
.cardList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.card {
    background: #fff;
    border: 1px solid #eee;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.imgBox {
    background: #f0f0f0;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #999;
}

.cardBody {
    padding: 16px;
}

.category {
    display: inline-block;
    font-size: 12px;
    background: #ededff;
    color: #5a23ff;
    margin-bottom: 8px;
    padding: 2px 6px 2px 6px;
}

.cardTitle {
    font-size: 24px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: -4%;
}

.date, .place, .price {
    font-size: 14px;
    font-weight: 400;
    color: #5c5c5c;
    line-height: 150%;
    letter-spacing: -4%;
}

.price {
    font-weight: 700;
    color: #000;
    margin: 8px 0;
}

.detailBtn {
    display: inline-block;
    margin-top: 8px;
    padding: 8px 12px;
    background: #000;
    color: #fff;
    font-size: 14px;
    border-radius: 6px;
}

.detailBtn:hover {
    background: #333;
}

.moreBox {
    text-align: center;
    margin-top: 40px;
}

.moreBtn {
    padding-bottom: 2px;
    border-bottom: 1px solid #5c5c5c;
    background: #fff;
    cursor: pointer;
    font-size: 14px;

}