.iconMenu {
  background: #fff;
  padding: 40px 20px;
}

.iconMenu ul {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.iconMenu li {
  width: 150px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  background: #fff;
  transition: all 0.25s ease;
}

.iconMenu li:hover {
  color: #5a23ff;
}

.iconMenu li:hover img {
  filter: invert(21%) sepia(93%) saturate(5983%) hue-rotate(247deg) brightness(94%) contrast(102%);
}

.iconBox {
  display: flex;
  justify-content: center;
  align-items: center;
}