.iconMenu {
  background: #fff;
  padding: 40px 20px;
}

.iconMenu ul {
  max-width: 1440px;
  margin: 0 auto;
}

.menuItem {
  width: 150px;
  height: 100px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  background: #fff;
  transition: all 0.25s ease;
}

.menuItem:hover {
  color: #5a23ff;
}

.menuItem:hover img {
  filter: invert(21%) sepia(93%) saturate(5983%) hue-rotate(247deg) brightness(94%) contrast(102%);
}