.iconMenu {
    background: #fff;
    padding: 40px 20px;
  }
  
  .iconMenu ul {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .iconMenu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    gap: 4px;
  }