/* src/components/events/EventCard/styles.module.css */

.eventCard {
  display: flex;
  width: 18.8125rem;
  padding-bottom: 1.25rem;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.5rem;
  background: var(--Common-white);
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.08);
  overflow: hidden;
}

.eventCardImage {
  position: relative;
  width: 100%;
  height: 13.25rem;
}

.eventCardImageOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;

  display: inline-flex;
  justify-content: space-between;
}

.eventCardImageOverlayButton {
  display: flex;
  width: 2.625rem;
  height: 2.625rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  aspect-ratio: 1/1;

  border-radius: 0.25rem;
  background: #8e8e8e;
}

.eventCardContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem;
}

.eventCardContentBody {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.eventCardContentBodyItem {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  h3 {
    overflow: hidden;
    color: var(--Common-black);
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    align-self: stretch;

    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -0.05rem;
  }
}

.eventCardContentBodyDatePlace {
  display: flex;
  flex-direction: column;
  gap: 0.12rem;
}

.eventCardContentBodyDatePlaceItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    flex: 1 0 0;
    overflow: hidden;
    color: var(--Neutral-40);
    text-overflow: ellipsis;

    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.035rem;
  }
}

.eventCardContentFooterItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.bookmarkIcon {
  color: var(--Common-white);
}

.bookmarkIconActive {
  color: var(--Common-black);
}
