/* src/app/my/profile/edit/styles.module.css */

.profileEditPageLayout {
  width: 100%;
  max-width: 38.8rem;
  margin: 0 auto;
  padding-bottom: 11.25rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.profileEditPageLayoutHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.profileEditPageLayoutContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.profileEditPageLayoutContentItem {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.profileEditPageLayoutFooter {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.profileEditPageLayoutFooterCancelButton {
  width: 7.5rem;
}

.profileEditPageLayoutFooterSaveButton {
  width: 7.5rem;
}
