/* src/components/events/EventEmpty/styles.module.css */

.eventCardListEmpty {
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding: 12.5rem 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.eventCardListEmptyTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.eventCardListEmptyDescription {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
