.bootcampSection {
  background: #000;
  padding: 100px 0;
}

.inner {
  max-width: 1240px;
  margin: 0 auto;
}

.subTitle {
  font-size: 18px;
  font-weight: 500;
  color: #7779ff;
  line-height: 1.4;
}

.title {
  font-size: 42px;
  font-weight: 500;
  color: #fff;
  line-height: 1.3;
}

.titleSpan {
  font-weight: 700;
}

.moreBtn {
  font-size: 16px;
  color: #8a8a8a;
  background: none;
  border: none;
  border-bottom: 1px solid #8a8a8a;
  padding-bottom: 2px;
  line-height: 1.4;
  cursor: pointer;
}