/* src/app/conference/[id]/styles.module.css */

.conferenceDetailLayout {
  display: flex;
  gap: 1rem;
  padding-top: 6rem;
  max-width: 77.5rem;
  margin: 0 auto;
  margin-bottom: 12.5rem;
}

.conferenceDetailContent {
  display: flex;
  flex-direction: column;
  gap: 6.25rem;
}

.conferenceDetailContentItem {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.eventInfoCardContentDate,
.eventInfoCardContentPrice {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.eventInfoCardContentPlaceList {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
}

.eventInfoCardContentPlace {
  display: flex;
  align-items: center;
  gap: 0.375rem;
}

.conferenceOtherEvent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.conferenceOtherEventTitle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
