.recommend {
  max-width: 1440px;
  margin: 80px auto;
  padding: 0 20px;
}

.sectionHead {
  max-width: 1240px;
  margin-bottom: 20px;
}

.subTitle {
  font-size: 18px;
  color: #5a23ff;
  font-weight: 500;
  line-height: 1.4;
}

.title {
  font-size: 42px;
  font-weight: 500;
  color: #000;
  line-height: 1.3;
}

.titleSpan {
  font-weight: 700;
}

.subEng {
  color: #e6e6e6;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.interestTitle {
  font-size: 42px;
  font-weight: 700;
  color: #fff;
  line-height: 1.3;
}

.interestSpan {
  font-weight: 500;
}

.cardList {
  max-width: 1240px;
  margin: 0 auto;
}

.moreBtn {
  font-size: 16px;
  color: #8a8a8a;
  background: none;
  border: none;
  border-bottom: 1px solid #8a8a8a;
  padding-bottom: 2px;
  line-height: 1.4;
  cursor: pointer;
}