/* src/components/common/EventCard/styles.module.css */

.eventCard {
  width: 18.8125rem;
  padding-bottom: 1.25rem;
  border-radius: 0.5rem;
  background: var(--Common-white);
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.08);
  overflow: hidden;
  cursor: pointer;

  &:hover {
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.12);
  }
}

.large {
  width: 21.875rem;
}

.medium {
  width: 18.8125rem;
}

.small {
  width: 18.4625rem;
}

.block {
  flex: 1;
}

.eventCardImage {
  position: relative;
  width: 100%;
  height: 13.25rem;
}

.eventCardImageOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.eventCardImageOverlayButton {
  display: flex;
  width: 2.625rem;
  height: 2.625rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  aspect-ratio: 1/1;

  border-radius: 0.25rem;
  background: #8e8e8e;
}


.eventCardContentBodyItemTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  align-self: stretch;
}

.eventCardContentBodyItemTitleMedium {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  align-self: stretch;
}


.eventCardContentBodyDatePlaceItemText {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  flex: 1 0 0;
  overflow: hidden;
  color: var(--Neutral-40);
  text-overflow: ellipsis;
}


.bookmarkIcon {
  color: var(--Common-white);
}

.bookmarkIconActive {
  color: var(--Common-black);
}
