/* 
  작성자 : 김재혁, 김은혜
  최초 작성일 : 2025-08-21
  최종 수정일 : 2025-10-25
*/

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

:root {
  --Common-black: #000;
  --Common-white: #fff;
  --GrayScale-900: #121212;
  --Neutral-5: #0f0f0f;
  --Neutral-10: #1a1a1a;
  --Neutral-15: #1c1c1c;
  --Neutral-20: #2a2a2a;
  --Neutral-30: #474747;
  --Neutral-40: #5c5c5c;
  --Neutral-50: #737373;
  --Neutral-60: #8a8a8a;
  --Neutral-70: #9b9b9b;
  --Neutral-80: #b0b0b0;
  --Neutral-90: #c4c4c4;
  --Neutral-95: #e6e6e6;
  --Neutral-99: #f5f5f5;
  --Line-normal: #d8d8d8;
  --Line-neutral: #e1e1e1;
  --Primary-light: #cccbff;
  --Primary-strong: #5a23ff;
  --Primary-normal: #7779ff;
  --Primary-ExtraLight: #ededff;
  --Primary-heavy: #1b1d26;
  --Fill-strong: #55555c;
  --Error-normal: #ff6359;
  --Opacity_b_40: rgba(0, 0, 0, 0.4);
  --Opacity_b_60: rgba(0, 0, 0, 0.6);
}

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Pretendard", sans-serif;
  color: #000;
  background: #fff;
}

#wrap {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
dl,
dd,
ol,
ul {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* 버튼 css */
button,
.btn {
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  line-height: 1.6;
  color: #000;
}

/* 테이블 css */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

img,
video,
iframe {
  max-width: 100%;
  height: auto;
  border: 0;
}

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
