.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.mainHeader {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.subHeader {
  background: var(--Common-white);
}

.header .inner {
  max-width: 1240px;
  margin: 0 auto;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoNavMenu {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

/* header - topMenu */
.topMenu {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.searchWrap {
  width: 17.5rem;
  height: 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--Neutral-70);
}

.searchBox {
  padding: 10px 0.75rem;
  background: none;
  border: none;
  box-sizing: border-box;
  outline: none;
  width: 100%;
}

.searchBox::placeholder {
  color: var(--Neutral-90);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 150%;
  letter-spacing: -0.035rem;
  vertical-align: middle;
}

.searchBtn {
  background: none;
  border: none;
  padding: 0 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profileBtnWrap {
  position: relative;
}

.profileBtnContent {
  position: absolute;
  top: 120%;
  right: 0;
  z-index: 1000;
}

.inquiryBtn {
  display: flex;
  padding: 0.625rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  border-radius: 0.25rem;
  background: var(--Neutral-30);
}

.loginBtn {
  display: flex;
  padding: 0.625rem 1.25rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  background: var(--Common-black);
}

.profileBtn {
  display: flex;
  padding: 0.625rem 1rem 0.625rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  border-radius: 0.25rem;
  background: var(--Common-black);
  color: var(--fill-normal);
}
