.bookmarkButton {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.icon {
  width: 15px;
  height: 18px;
  stroke-width: 1.08px;
  color: #fff;
  pointer-events: none;
}