/* src/components/events/filters/FilterModal/styles.module.css */

.modal {
  width: 26.25rem;
  display: inline-flex;
  padding: 1.25rem;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 0.25rem;
  border: 1px solid var(--Line-normal);
  background: var(--Common-white);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.08);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    color: var(--Common-black);

    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: -0.05rem;
  }
}

.resetButton {
  display: flex;
  align-items: center;
  gap: 0.25rem;

  span {
    color: var(--Neutral-40);

    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -0.035rem;
  }
}

.footer {
  display: flex;
  justify-content: flex-end;
  gap: 0.25rem;
  align-self: stretch;
}

.cancelButton {
  padding: 0.5rem 1.75rem;
  border-radius: 0.25rem;
  border: 1px solid var(--Line-normal);
  background: var(--Common-white);
  color: var(--Neutral-30);

  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.04rem;
}

.applyButton {
  padding: 0.5rem 1.75rem;
  border-radius: 0.25rem;
  background: var(--Common-black);
  color: var(--Common-white);

  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.04rem;
}
