/* src/app/mentoring/styles.module.css */

.container {
  max-width: 77.5rem;
  margin: 0 auto;
  padding-bottom: 12.5rem;
}

.cardList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3.75rem 0.75rem;
}
