/* src/app/mentoring/[id]/styles.module.css */

.mentoringDetailLayout {
  display: flex;
  gap: 1rem;
  padding-top: 6rem;
  max-width: 77.5rem;
  margin: 0 auto;
  margin-bottom: 12.5rem;
}

.mentoringDetailContent {
  display: flex;
  flex-direction: column;
  gap: 6.25rem;
  margin-bottom: 11.25rem;
}

.mentoringDetailContentItem {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.eventInfoCardContentDate,
.eventInfoCardContentPrice {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.eventInfoCardContentPlaceList {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
}

.eventInfoCardContentPlace {
  display: flex;
  align-items: center;
  gap: 0.375rem;
}

.mentoringOtherEvent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mentoringOtherEventList {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
