/* src/components/events/detail/EventInfoCard/styles.module.css */

.eventInfoCard {
  width: 56.25rem;

  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  gap: 0.75rem;
  align-self: stretch;
  border-radius: 0.5rem;
  background: var(--Common-white);
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.08);
}

.eventInfoCardHeader {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.eventInfoCardTitle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.eventInfoDivider {
  width: 0.25rem;
  height: 1.25rem;
  background: var(--Primary-strong);
}
