.ctaSection {
  max-width: 1440px;
  margin: 80px auto 0;
}

.inner {
  max-width: 1240px;
  margin: 0 auto;
  min-height: 120px;
}

.line1 {
  font-size: 22px;
  font-weight: 500;
  color: #111;
  line-height: 1.4;
}

.line2 {
  font-size: 32px;
  font-weight: 800;
  color: #000;
  line-height: 1.3;
}

.eventSendBtn {
  padding: 14px 30px 14px 26px;
  background-color: #000;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  color: #fff;
  cursor: pointer;
}