.interestSection {
  background: linear-gradient(180deg, #212025 0%, #353339 100%);
  padding: 5rem 6.25rem;
}

.inner {
  max-width: 77.5rem;
  margin: 0 auto;
}

.keywordBtn {
  background: #2c2c36;
  border: 1px solid var(--Neutral-50);
  font-size: 0.8125rem;
  padding: 0.375rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background 0.2s;
  color: #c4c4c4;
  font-weight: 500;
  line-height: 1.4;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem 0.75rem;
}

.imgBox {
  background: var(--Common-white);
  width: 21.875rem;
  height: 12.5rem;
  border-radius: 0.25rem;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 0.25rem;
  }
}

.bookmarkBtn {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.textBox {
  margin-top: 0.3125rem;
}

.metaText {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  align-self: stretch;
  overflow: hidden;
  text-overflow: ellipsis;
}
