/* src/components/common/Pagination/styles.module.css */

.pagination {
  width: 100%;
  position: relative;
}

.centerPagination {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.paginationRight {
  position: absolute;
  right: 0;
  transform: translateY(0);
}

.ellipsis {
  margin: 0 2rem;
}

.paginationRightText {
  font-size: 1rem;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.04rem;
}

.paginationPageButton {
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 62.5rem;
  background: var(--Neutral-95);
}

.paginationButton {
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 0.25rem;
  border: 1px solid var(--Line-normal);
  background: var(--Common-white);

  color: var(--Common-black);
  text-align: center;

  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.04rem;
}

.active {
  background: var(--Primary-normal);
  color: var(--Common-white);
}
