/* src/app/hackathon/[id]/styles.module.css */

.hackathonDetailLayout {
  display: flex;
  gap: 1rem;
  padding-top: 6rem;
  max-width: 77.5rem;
  margin: 0 auto;
  margin-bottom: 12.5rem;
}

.hackathonDetailContent {
  display: flex;
  flex-direction: column;
  gap: 6.25rem;
  margin-bottom: 11.25rem;
}

.hackathonDetailContentItem {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.eventInfoCardContentDate,
.eventInfoCardContentPrice {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.eventInfoCardContentPlaceList {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
}

.eventInfoCardContentPlace {
  display: flex;
  align-items: center;
  gap: 0.375rem;
}

.hackathonOtherEvent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hackathonOtherEventList {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
