.recentEvent {
  max-width: 77.5rem;
  margin: 5rem auto;
}

.bottomRow {
  width: 100%;
}

.arrowBtn {
  width: 2.25rem;
  height: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid var(--Neutral-50);
  background: var(--Common-white);
  cursor: pointer;
}

.lightBtn {
  background: var(--Common-white);
}

.darkBtn {
  background: var(--Common-black);
  border-color: var(--Common-black);
}

.darkBtn svg path {
  stroke: var(--Common-white);
}

.carouselWrapper {
  overflow-x: clip;
  overflow-y: visible;
  padding: 1rem 0;
  margin: -1rem 0;
}

.carouselContainer {
  display: flex;
  gap: 0.75rem;
  overflow-x: auto;
  scroll-behavior: smooth;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.carouselContainer::-webkit-scrollbar {
  display: none;
}

.carouselItem {
  flex-shrink: 0;
}
