.card {
    width: 340px;
    background: #fff;
    border: 1px solid #eaeaea;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s;
}

.card_large {
  width: 340px;
}

.card_middle {
  width: 301px;
}

/* 이미지 영역 */
.imgBox {
  background: #f3f3f3;
  height: 240px;
  position: relative;
}

.dday {
  position: absolute;
  top: 12px;
  left: 12px;
  background: #000;
  opacity: 0.6;
  color: #fff;
  font-size: 12px;
  padding: 2px 6px 2px 6px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -4%;
}

.bookmarkBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.6);
}

.bookmarkBtn svg {
  width: 15.17px;
  height: 18.42px;
  color: #fff;
}

/* 카드 내용 */
.cardBody {
  padding: 18px;
}

.category {
  display: inline-block;
  font-size: 12px;
  background: #ededff;
  color: #5a23ff;
  padding: 2px 6px;
  border-radius: 4px;
  margin-bottom: 8px;
}

.cardTitle {
  font-size: 20px;
  font-weight: 700;
  color: #111;
  line-height: 1.4;
  margin-bottom: 10px;
}

.infoRow {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  color: #555;
  margin-bottom: 4px;
}

.icon {
  font-size: 14px;
  color: #777;
}

.priceGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.priceWrap {
  display: flex;
  align-items: center;
  gap: 8px;
}

.price {
  font-size: 16px;
  font-weight: 700;
  color: #000;
}

.freeTag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  background: #ededff;
  color: #5a23ff;
  padding: 2px 6px;
  border-radius: 4px;
  line-height: 1;
  margin-bottom: 0;
}

.detailBtn {
  background: #000;
  color: #fff;
  padding: 7px 16px 7px 16px;
  border-radius: 4px;
  gap: 2px;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -4%;
}