/* src/components/login/LoginModal/style.module.css */

/* 
  작성자 : 김은혜
  작성일 : 2025-09-22
  최종 수정일 : 2025-09-22
*/

.loginModal {
  width: 78.75rem;
  height: 47.625rem;
  border-radius: 0.25rem;
  background: #fff;

  display: flex;
}

.loginModalLeft {
  width: 50%;
  height: 100%;
  padding: 0.5rem;
  position: relative;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(6px);
  z-index: 1;
}

.loginModalImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.loginModalImageTextImage {
  width: 11.875rem;
  height: 1.67631rem;
}

.loginModalImageText {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  z-index: 100;
}

.loginModalImageTextTitle {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.035rem;
}

.loginModalRight {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3.5rem;
}

.loginModalRightInner {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
}

.loginModalRightInnerTitle {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: center;
}

.loginModalRightInnerTitleText {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;

  h2 {
    color: var(--Common-black);

    font-size: 1.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.075rem;
  }

  p {
    color: var(--Neutral-40);
    text-align: center;

    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.04rem;
  }
}

.loginModalRightInnerSocialLogin {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.loginModalRightInnerTerms {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.12rem;

  p {
    color: var(--Neutral-80);
    text-align: center;

    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -0.03rem;
  }

  a {
    color: var(--Neutral-80);
    text-align: center;

    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -0.03rem;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
  }
}
