/* 
  작성자 : 김재혁
  최초 작성일 : 2025-08-21
  최종 수정일 : 2025-09-16
*/

/* footer */
.footer {
  background: #f8f9fa;
  border-top: 1px solid #ddd;
}

.footer .inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px 20px;
  display: flex;
  flex-direction: column; /* 위아래 구조: top / bottom */
  gap: 30px;
}

/* footer-top */
.footerTop {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.footerLogo h2 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #333;
}
.social {
  display: flex;
  gap: 15px;
}

/* footer-bottom */
.footerBottom {}