/* footer */
.footer {
  width: 100%;
  min-width: 80.875rem;
  height: 186px;
  background: var(--Primary-heavy);
  color: var(--Common-white);
}

.inner {
  max-width: 77.5rem;
  margin: 0 auto;

  padding: 3.375rem 0;
}

.logoWrap {
  flex-shrink: 0;
}

.policyGroup a {
  color: var(--Neutral-95);
  font-size: 1rem;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -4%;
  padding: 0 1.25rem 0.5rem 1.25rem;
}

.bottomRow {
  margin-left: 0.25rem;
}

.email,
.copy {
  font-size: 0.75rem;
  line-height: 140%;
  letter-spacing: -4%;
  font-weight: 500;
}

.iconBtn {
  width: 3rem;
  height: 3rem;
  border: 1px solid var(--Neutral-90);
  border-radius: 62.5rem;
  color: var(--Neutral-90);
  transition: background 0.3s ease, color 0.3s ease;
}

.iconBtn:hover {
  background: var(--Common-white);
  color: var(--Common-black);
}

/* 행사 제보 버튼 */
.submitBtn {
  background: var(--Common-black);
  color: var(--Common-white);
  padding: 0.625rem 1.25rem 0.6875rem 1.625rem;
  border-radius: 0.25rem;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -4%;
}
